<div class="navbar-popover" id="navbarNavPopover">
    <div class="modal-content">
        <button class="close-btn" aria-label="Close">&times;</button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Team RAC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
            </li>
        </ul>
    </div>
</div>