<div class="faq-icon" id="faqIcon">
    <a href="{% url 'faq' %}" class="faq-link">
        <i class="fas fa-question-circle"></i>
    </a>
</div>
<style>
.faq-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    background: #356d98;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(53, 109, 152, 0.2);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}
.faq-icon:hover {
    background: #274e6a;
}
.faq-link {
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
</style>