{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAC Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% include 'modal.html' %}

    <link rel="stylesheet" href="/static/styles/services-style.css">
    <!-- Added CSS for components -->
    <link rel="stylesheet" href="/static/styles/faq.css">
    <link rel="stylesheet" href="/static/styles/navbar-main.css">
    <link rel="stylesheet" href="/static/styles/navbar-popover.css">
    <style>
        body {
            opacity: 0;
            transition: opacity 0.5s;
        }
        body.loaded {
            opacity: 1;
        }

    </style>
</head>

<body>
    <!-- Include Navbar -->
     {% include 'navbar-main.html' %}

    <!-- Search Bar -->
    <div class="search-container" style="padding-top: 15px;">
        <input type="text" class="search-input" id="serviceSearch" placeholder="Search...">
        <button class="search-button" onclick="searchServices()"><i class="fas fa-search" style="padding-top: 15px;"></i></button>
    </div>
    <div id="noResults" style="display: none; text-align: center; padding: 20px; color: #666;">
        No services found matching your search.
    </div>

    <div class="services-container" id="servicesContainer">
        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Payroll Management</div>
            </div>
            <div class="service-button">
                <a href="{% url 'payroll_management' %}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Accurate and timely salary processing.</li>
                <li>Benefits administration.</li>
                <li>Tax deductions and compliance with labor regulations.</li>
            </ul>
            
        </div>

    
        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Business Registration</div>
            </div>
            <div class="service-button">
                <a href="{% url 'business_registration' %}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Navigating legal requirements and documentation.</li>
                <li>Ensuring compliance with government regulations.</li>
            </ul>

        </div>
    
    
        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Auditing Services</div>
            </div>
            <div class="service-button">
                <a href="{% url 'auditing_services'%}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Assessment of financial statements and internal controls.</li>
                <li>Ensuring accuracy and compliance.</li>
                <li>Identify areas for improvement.</li>
                <li>Mitigate financial risks.</li>
                <li>Enhance financial transparency.</li>
            </ul>

        </div>
    

        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Tax Compliance and Advisory</div>
            </div>
            <div class="service-button">
                <a href="{% url 'tax_compliance' %}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Tax planning strategies.</li>
                <li>Assistance with tax audits and investigations.</li>
                <li>Representation before tax authorities.</li>
                <li>Handling tax disputes and appeals.</li>
                <li>Keeping up with changing tax laws and regulations.</li>
                <li>Tax filing and compliance.</li>
            </ul>
        </div>
    

        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Business Formation and Registration</div>
            </div>
            <div class="service-button">
                <a href="{% url 'business_formation_registration' %}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Assistance in setting up corporations, partnerships, or sole proprietorships.</li>
                <li>Securing business permits and licenses.</li>
                <li>Drafting articles of incorporation and by-laws.</li>
            </ul>

        </div>


        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Contract Review and Preparation</div>
            </div>
            <div class="service-button">
                <a href="{% url 'contract_review_preparation' %}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Drafting, reviewing, and negotiating contracts such as supplier agreements, lease contracts, etc.</li>
                <li>Ensuring compliance with local regulations and tax laws.</li>
            </ul>

        </div>

        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Corporate Governance and Compliance</div>
            </div>
            <div class="service-button">
                <a href="{% url 'corporate_governance_compliance'%}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Ensuring compliance with SEC, BIR, and other regulatory bodies.</li>
                <li>Assistance with annual report filing, board resolutions, and shareholder agreements.</li>
            </ul>
        </div>


        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Employment and Labor Law Support</div>
            </div>
            <div class="service-button">
                <a href= "{% url 'employment_labor_law_support'%}" class="get-started">Get Started</a>
            </div>

            
        <ul class="service-text">
            <li>Preparing employee contracts.</li>
            <li>Advising on wage regulations, benefits, and compliance with labor laws.</li>
        </ul>

        </div>

        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Mergers, Acquisitions, and Restructuring</div>
            </div>
            <div class="service-button">
                <a href="{% url 'mergers_acquisition_restructuring'%}" class="get-started">Get Started</a>
            </div>

            <ul class="service-text">
                <li>Due diligence services</li>
                <li>Structuring deals to optimize tax outcomes.</li>
                <li>Assisting with legal documentation for acquisitions and mergers.</li>
            </ul>

        </div>

        <div class="service-row">
            <div class="service-box">
                <div class="service-title">Intellectual Property (IP) Assistance</div>
            </div>
            <div class="service-button">
                <a href="{% url 'ip_assistance'%}" class="get-started">Get Started</a>
            </div>
            <ul class="service-text">
                <li>Helping with trademark registration and protection.</li>
                <li>Advising on intellectual property rights.</li>
            </ul>
        </div>

    </div>

    

    <!-- FAQ Icon -->
    <div class="faq-icon" id="faqIcon">
        <i class="fas fa-question-circle"></i>
    </div>

    <!-- Include Footer -->
     <div class="w-100">
    {% include 'footer.html' %}
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Component JavaScript files -->
    <script src="/static/scripts/scripts.js"></script>
    <script src="/static/scripts/navbar-main.js"></script>
    <script src="/static/scripts/footer.js"></script>
    <script src="{% static '/scripts/popover.js' %}"></script>
    <script src="/static/scripts/faq-script.js"></script>
    <script src="/static/scripts/search.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.classList.add('loaded');
        });
    </script>
    
</body>
</html>
