{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>RAC Landing Page</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/navbar-css.css' %}">
{% endblock styles %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section d-flex align-items-center justify-content-center">
    <div class="container text-center hero-content">
        <div class="logo-container mb-4">
            <!-- Placeholder for logo -->
            <img src="{% static 'images/rac-landing-new.png' %}" alt="Logo" class="img-fluid logo-image">
        </div>
        <p class="lead">Your business partner for growth and innovation.</p>
        <a href="{% url 'about_us' %}">
            <button class="cta-button mt-4">Get Started</button>
        </a>
    </div>
</section>

<!-- FAQ Icon -->
<div class="faq-icon" id="faqIcon">
    <i class="fas fa-question-circle"></i>
</div>
{% endblock content %}