/* FOOTER */
.footer {
    background-color: #356d98;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
}
.footer .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.footer .contact-item:hover {
    transform: scale(1.05);
}

.footer .contact-item i {
    font-size: 18px;
    color: white;
}

.footer .contact-item a,
.footer .contact-item span {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 2px;
}
.footer .branch-info .branch-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.footer .branch-info .branch-item:hover {
    transform: scale(1.05);
}

.footer .branch-info .branch-item i {
    font-size: 16px;
}

.footer .branch-info p {
    margin-left: 28px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.footer .branch-info p:hover {
    transform: scale(1.05);
}
.footer .branch-info {
    text-align: left;
    font-size: 14px;
}
.footer .branch-info h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

.footer .branch-info a {
  color: white;
  text-decoration: none;
}

.footer .branch-info a:hover {
  text-decoration: underline !important;
}

.footer .qr-code {
  width: 150px; 
  height: 150px; 
}













/* Responsive Design */

@media (max-width: 1175px) {
    .footer {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        padding-left: 90px;
    }

    .footer .contact-info, 
    .footer .branch-info {
        text-align: justify;
    }

    .footer .contact-item a {
        font-size: 16.5px;
    }

    .footer .qr-code {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1080px) {

    .footer .contact-item span,
    .footer .contact-item a{
        font-size: 15px;
        margin-bottom: 2px;
    }

    .footer .contact-info, 
    .footer .branch-info {
        font-size: 13px;
    }

    .footer .qr-code {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1010px) {

    .footer .branch-info {
        font-size: 13px;
    }

    .footer .contact-item span,
    .footer .contact-item a {
        font-size: 15px;
        margin-bottom: 8px;
    }

}

@media (max-width: 922px) {

    .footer .branch-info {
        font-size: 10px;
    }

    .footer .contact-item span,
    .footer .contact-item a {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .footer .qr-code {
        width: 120px;
        height: 120px;
    }

}

@media (max-width: 833px) {

    .footer .branch-info {
        font-size: 10px;
    }

    .footer .contact-item span,
    .footer .contact-item a {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer .qr-code {
        width: 110px;
        height: 110px;
    }

}

@media (max-width: 786px) {

    .footer .contact-item i {
        font-size: 13px;
    }
   
    .footer .qr-code {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 40px;
    }

    .footer .contact-item {
        gap: 5px;
    }

    .footer .qr-code {
        width: 100px;
        height: 100px;
    }
}
