.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img.navbar-logo {
    height: 50px;
    width: auto;
}

/* Set the color of the nav-links with increased specificity */
.navbar .navbar-nav .nav-link {
    color: #22282f;
    position: relative;
    display: inline-block;
    padding: 0 15px;
}

/* Optional: Set hover and active states for nav-links */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #0056b3;
}

/* Underline animation */
.navbar .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3985c0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Navbar Popover */
.navbar-popover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-popover.show {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.navbar-popover .modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%; /* Ensure the modal doesn't take up too much space */
    position: relative; /* To position the close button absolutely */
}

.navbar-popover ul {
    list-style: none;
    padding: 0;
}

.navbar-popover li {
    margin-bottom: 0.5rem;
}

.navbar-popover .modal-content ul li a {
    color: #22282f;
}

.navbar-popover .modal-content ul li a:hover {
    color: #0056b3;
}

.navbar-popover .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-popover .close-btn:hover {
    color: #3985c0;
}

/* Show navbar-nav on larger screens */
@media (min-width: 992px) {
    .navbar .navbar-nav {
        display: flex;
        align-items: center;
    }
}

/* Hide navbar-popover on larger screens */
@media (min-width: 992px) {
    .navbar-popover {
        display: none !important;
    }
}