body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

.hero-section {
  min-height: 100vh;
  /* Remove the background property from here */
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
  z-index: -1;
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.logo-container {
  width: 100%; /* Ensure the container takes full width */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 2rem; /* Add some space below the logo */
}

.logo-container img.logo-image {
  width: 700px; /* Set a specific width */
  height: 200px; /* Set a specific height */
}

.lead{
  color: #3985c0;
  font-size: 25px;
  font-style: italic;
}

.cta-button {
  background-color: #356d98;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.cta-button:hover {
  background-color: #03458d;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(3, 69, 141, 0.3);
}

