body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

.hero-section {
  min-height: 100vh;
  background: url('/static/images/landing-bg.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
  z-index: -1;
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.logo-container {
  width: 100%; /* Ensure the container takes full width */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 2rem; /* Add some space below the logo */
}

.logo-container img.logo-image {
  width: 700px; /* Set a specific width */
  height: 200px; /* Set a specific height */
}

.lead{
  color: #3985c0;
  font-size: 25px;
  font-style: italic;
}

.cta-button {
  background-color: #356d98;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Increase padding to make the button bigger */
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px; /* Increase font size */
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #03458d;
}

.faq-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border-radius: 80%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.faq-icon i {
  color: #3985c0; /* Set the color of the icon */
  font-size: 24px; /* Adjust the size of the icon if needed */
}

.faq-icon:hover {
  transform: scale(1.1);
}
